@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default;
}

@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(1 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: oklch(0.3175 0.0539 177.72);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(0.9054 0.15455 194.769);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(0.8304 0.1459 74.36);
  --color-accent-content: oklch(27% 0.041 260.031);
  --color-neutral: oklch(0.3938 0.2416 270.17);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(54% 0.281 293.009);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
