@import "tailwindcss";

@plugin "daisyui" {
  themes: corporate --default;
}


@plugin "daisyui/theme" {
  name: "corporate";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #edf1f5;
  --color-base-200: #cfd8e3;
  --color-base-300: #a3b0c2;
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: #042e38;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: #76e4f7;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #d79a10;
  --color-accent-content: oklch(27% 0.041 260.031);
  --color-neutral: #334155;
  --color-neutral-content: oklch(100% 0 0);
  --color-info: #3b82f6;
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(50% 0.118 165.612);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(96% 0.007 247.896);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}