/* nav buttons */
.button {
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 5px;
  font-weight: semibold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

#btn_menu:hover {
  color: #ffffff;
  transform: scale(1.1);
}

#btn_menu::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #d79a10;
  transform: skewX(15deg);
  z-index: -1;
  transition: width 700ms;
}

#btn_menu:hover::before {
  width: 110%;
}

/* Values cards*/
.square {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 36px;
  border-radius: 22px;
  overflow: hidden;
  background: #edf1f5;
  border: 1px solid #042e38;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: rgba(178, 158, 81, 0.62);
  z-index: -1;
  transform-origin: bottom;

  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: rgba(178, 158, 81, 0.28);
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content svg {
  width: 48px;
  height: 48px;
}

.content .para {
  z-index: 1;
  opacity: 1;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link:hover {
  text-decoration: underline;
}

.square:hover {
  transform: translate(0px, -16px);
}

.square:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.square:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

/* contact coin */
.coin {
  font-size: 400px;
  width: 0.1em;
  height: 1em;
  background: linear-gradient(#042e38, #141001);
  animation: rotate_4001510 7s infinite linear;
  transform-style: preserve-3d;
}

.coin .side,
.coin:before,
.coin:after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border-radius: 50%;
  right: -0.4em;
  text-align: center;
  line-height: 1;
  transform: rotateY(-90deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coin .tails,
.coin:after {
  left: -0.4em;
  transform: rotateY(90deg);
}

.coin:before,
.coin:after {
  background: linear-gradient(#042e38, #141001);
  backface-visibility: hidden;
  transform: rotateY(90deg);
}

.coin:after {
  transform: rotateY(-90deg);
}

@keyframes rotate_4001510 {
  100% {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 768px) {
  .coin {
    font-size: 150px;
  }
}

/* Goals Section */

.main__heading {
  margin-bottom: 0.75em;
  text-align: center;
  color: #eceff1;
}
.cards__inner {
  width: 320px;
}

.cards {
  position: relative;
}

.goal {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  color: #eceff1;
  background-color: #334155;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.goal:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.card__bullets {
  line-height: 1.4;
}

.card__heading {
  font-size: 1.3em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  outline: 1px solid white;
  padding: 0.3em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.goal:hover {
  --lightness: 80%;
  background: #ffffff80;
  color: #000;
  outline: 1px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 80px whitesmoke, inset 20px 0 80px rgb(178, 158, 81),
    inset -20px 0 80px rgb(178, 158, 81), inset 20px 0 300px rgb(178, 158, 81), inset -20px 0 300px rgb(178, 158, 81),
    0 0 50px rgb(178, 158, 81), -10px 0 80px rgb(178, 158, 81), 10px 0 80px rgb(178, 158, 81);
  transition: all ease-in-out 0.3s;
}

.goal:hover > .cta {
  outline: none;
  background-color: #0d0d0d;
}
