/* From Uiverse.io by vikiWayne */
.button {
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 5px;
  font-weight: semibold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

#btn_menu:hover {
  color: #ffffff;
  transform: scale(1.1);
}

#btn_menu::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #d79a10;
  transform: skewX(15deg);
  z-index: -1;
  transition: width 700ms;
}

#btn_menu:hover::before {
  width: 110%;
}

/* #green_card {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(145deg, transparent 35%, #008235, #008235) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px;
} */

.coin {
  font-size: 400px;
  width: 0.1em;
  height: 1em;
  background: linear-gradient(#042e38, #141001);
  animation: rotate_4001510 7s infinite linear;
  transform-style: preserve-3d;
}

.coin .side, .coin:before, .coin:after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border-radius: 50%;
  right: -0.4em;
  text-align: center;
  line-height: 1;
  transform: rotateY(-90deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coin .tails, .coin:after {
  left: -0.4em;
  transform: rotateY(90deg);
}

.coin:before, .coin:after {
  background: linear-gradient(#042e38, #141001);
  backface-visibility: hidden;
  transform: rotateY(90deg);
}

.coin:after {
  transform: rotateY(-90deg);
}

@keyframes rotate_4001510 {
  100% {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 768px) {
  .coin {
    font-size: 150px;
  }
}

