/* From Uiverse.io by vikiWayne */
.button {
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 5px;
  font-weight: semibold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

#btn_menu:hover {
  color: #ffffff;
  transform: scale(1.1);
}

#btn_menu::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #d79a10;
  transform: skewX(15deg);
  z-index: -1;
  transition: width 700ms;
}

#btn_menu:hover::before {
  width: 110%;
}

/* #green_card {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(145deg, transparent 35%, #008235, #008235) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px;
} */

.coin {
  font-size: 400px;
  width: 0.1em;
  height: 1em;
  background: linear-gradient(#042e38, #141001);
  animation: rotate_4001510 7s infinite linear;
  transform-style: preserve-3d;
}

.coin .side, .coin:before, .coin:after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border-radius: 50%;
  right: -0.4em;
  text-align: center;
  line-height: 1;
  transform: rotateY(-90deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coin .tails, .coin:after {
  left: -0.4em;
  transform: rotateY(90deg);
}

.coin:before, .coin:after {
  background: linear-gradient(#042e38, #141001);
  backface-visibility: hidden;
  transform: rotateY(90deg);
}

.coin:after {
  transform: rotateY(-90deg);
}

@keyframes rotate_4001510 {
  100% {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 768px) {
  .coin {
    font-size: 150px;
  }
}

/* Goals Section */

.card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 3em;
  height: 3em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: #d79a10;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card {
  display: block;
  position: relative;
  max-width: 320px;
  max-height: 320px;
  background-color: #76e4f7;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(to bottom, #edf1f5, #cfd8e3);
  font-family: Arial, Helvetica, sans-serif;
}

.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, #384c6c);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(35);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}
